[submodule "vendor/vtzero"]
	path = vendor/vtzero
	url = https://github.com/mapbox/vtzero
[submodule "vendor/protozero"]
	path = vendor/protozero
	url = https://github.com/mapbox/protozero
[submodule "vendor/mvt-fixtures"]
	path = vendor/mvt-fixtures
	url = https://github.com/mapbox/mvt-fixtures
